[Unit]
Description=Use Lamy EMR styli button(s) as an eraser... and much more
After=xochitl.service

[Service]
ExecStart=/usr/sbin/RemarkableLamyEraser
Restart=on-failure

[Install]
WantedBy=multi-user.target
